.App {
  text-align: center;
  font-family: 'Inter';
  height: 100vh;

}

p {
  margin: 0;
}

/*---- Intro ----*/

.Intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../public/pexels-photo-2748757.jpeg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.Title {
  font-family: 'Karla';
  font-size: 3rem;
  margin-top: 0;
}

.Description {
  font-size: 1.5rem;
}

.Normal-btn {
  width: 10em;
  height: 3em;
  background: #4D5B9E;
  border-radius: 15px;
  color: white;
  border: none;
  margin: 2em auto;
  font-size: 1.25rem;
}

.Normal-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/*---- Quiz ----*/

.container {
  height: auto;
  padding: 0 2em;
  background-image: url("../public/augustine-wong-li0iC0rjvvg-unsplash.jpg");
  background-size: cover;
  background-position: bottom;
}

.Question {
  font-family: 'Karla';
  margin: 0;
  padding: 0.7em
}

.Title-container {
  display: flex;
  align-items: center;
}

.Info {
  background-color: antiquewhite;
  border: 1px solid #4D5B9E;
  border-radius: 5px;
  padding: 0.2em 1.5em;
  margin: 0.5em;
}

.Info-container {
  display: flex;
}

.Answer {
  width: 12em;
  height: 3em;
  margin: 1em;
  font-family: 'Inter';
  border: 0.794239px solid #4D5B9E;
  border-radius: 7.94239px;
}

.selected {
  background: #eff0f7;
}

.Footer-container {
  display: flex;
  align-items: baseline;
}

@media (max-width: 800px) {
  
  .Answers-container{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
  }

  .Answer{
    width: fit-content;
  }

  .Question{
    font-size: 1.25rem;
  }

  .Info {
    font-size: 0.75rem;
  }

  .container {
    background-repeat: repeat;
    background-size: cover;
    height: auto;
  }

}